:root {
  --light-text: #eee;
  --dark-text: #000;
  --banner-bg: rgba(4, 4, 4, 0.43);
}

* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  background-color: rgb(54, 63, 78);
  color: var(--light-text);
}

@font-face {
  font-family: 'Norse Bold';
  src: url(/assets/fonts/Norse-Bold.otf);
}

.left-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  flex: 2;
  background: url(/assets/image/foliage.jpg);
  background-size: cover;
  height: 100vh;
}

.image-credit {
  margin-bottom: 15px;
}

.image-credit-link {
  color: var(--light-text);
}

.logo {
  height: 140px;
}

.logo-text {
  margin-top: 1.2rem;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Norse Bold';
  font-size: 56px;
  background-color: var(--banner-bg);
  width: 100%;
  height: 175px;
  margin-top: 18rem;
}

.right-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 65vh;
}

.heading-2,
.heading-2-bottom,
.heading-3 {
  font-size: 28px;
  font-weight: 400;
}

.heading-2,
.heading-2-bottom,
.form-contents,
.btn-container {
  margin-left: 3rem;
}

.heading-2 {
  max-width: 46rem;
  padding-right: 10rem;
  margin-bottom: 2.5rem;
}

.heading-2-bottom {
  margin-bottom: 4rem;
}

.heading-3 {
  margin-bottom: 2rem;
}

.form {
  width: 100%;
  background-color: #000;
}

input,
label {
  max-width: 200px;
}

.fieldset {
  border: 0;
}

.inputs {
}
